 @{
     ViewBag.Title = "联系我们";
}
<h2>联系我们</h2>
<address>
    江西省赣州市南康区<br />
    <abbr title="Phone">电话:</abbr>
    15900768658
</address>
<address>
    <strong>技术支持:</strong>   <a href="mailto:snbbdx@sina.com">snbbdx@sina.com</a><br />
    <strong>联系销售:</strong> <a href="mailto:snbbdx@sina.com">snbbdx@sina.com</a>
</address>
<div id="allmap" style="width: 800px;height: 600px;"></div>

<script type="text/javascript">
    function loadJScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=VqoAW1XowGfEkBmAEw3EaWZo&callback=init";
        document.body.appendChild(script);
    }
    function init() {
        // 百度地图API功能
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(114.77267, 25.67679);
        map.centerAndZoom(point, 100);
        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint("技术分享网", function (point) {
            if (point) {
                map.centerAndZoom(point, 100);
                map.addOverlay(new BMap.Marker(point));
            }
        }, "江西省赣州市");
        map.enableScrollWheelZoom(true);
        var marker = new BMap.Marker(point);  // 创建标注
        map.addOverlay(marker);              // 将标注添加到地图中
        var label = new BMap.Label("技术分享网");
        marker.setLabel(label);
    }
    window.onload = loadJScript;  //异步加载地图
</script>