
@{
    ViewBag.Title = "软件产品";
}

<div class="CompanyIntroBody">
    <h1>软件产品</h1>
    <p>
        春天ERP是以“让工作更规范，管理更高效”为核心设计理念，面向制造生产、贸易销售型企业管理需求开发设计，旨在提高企业管理能力并完善规范企业业务流程，全面覆盖企业管理的六大关键环节：办公决策，资源共享，信息交流，生产管理，仓库管理，将企业中各个业务环节集成在一个平台上，针对这些环节，从不同的角度，进行有效地计划、组织、执行、协调与沟通，能够帮助企业建立一套规范准确即时的业务数据库，良好的移植性使企业的迅速扩张成为可能，同时实现轻松、规范、细致的流程管理。

        春天ERP 目标：规范办公、高效管理  √ 企业员工 – 在线办公、日程安排、工作计划更高效  √ 部门主管 – 短信邮件、论坛投票、工作交流更高效
        √ 信息主管 – 新闻公告、信息审批、通知发布更高效  √ 人事主管 – 人员信息、组织结构、资源共享更高效
        √ 后勤主管 – 会议安排、车辆借用、办公用品更高效  √ 生产主管 – 生产计划、进度跟踪、生产安排更高效
        √ 企业老板 – 实时掌控、准确分析、正确决策更高效  √ 销售主管 – 业绩统计、价格设置、客户管理更高效
        √ 仓库主管 – 查询统计、调拨盘点、出入管理更高效  √ 采购主管 – 厂商管理、价格控制、订单跟踪更高效

        企业为何需要 春天ERP  企业决策更高效  作为老板，您有没有遇到这样的情况

        业务分析数据和报表太少？决策只能凭空感觉想象
        如何根据企业要求做出相应的报表？
        想知道钱都花在哪儿了，效果如何

        企业老板 – 实时掌控、准确分析、正确决策更高效
        实时了解企业运作情况，查看生产信息、订单执行、库存等信息
        个性化报表，做出适合企业自己的报表
        经营分析提供库存分析、原料分析、生产分析、订单分析

        生产管理更高效  作为生产主管，您有没有遇到这样的情况

        很难随时了解准确的生产进度，成品情况
        生产计划和原料库存不准确，经常停工待料
        生产领料无法控制，材料报废严重
        不能与采购、销售等环节有效衔接，延误生产

        生产主管 – 生产计划、进度跟踪、生产安排更高效
        以生产任务为核心，进行生产领料和成品入库
        按需领料，退料、报废信息随时记录，质检合格率全面监控
        生产日志、生产报告全程跟踪、掌握生产进度
        与采购、销售等环节紧密结合，随时发现问题，保证正常生产

        销售管理更高效    作为销售主管，您有没有遇到这样的情况

        每天卖了多少钱产品？哪些产品最好卖？
        订单、收付款、退货如何管理
        客户报价如何灵活设置
        客户满意度如何，客户情况统计分析

        销售主管 – 业绩统计、价格设置、客户管理更高效
        针对销售产品、客户情况提供详细报表
        提供订单、首付款、出货、退货流程式管理
        提供客户信息管理、销售情况统计分析以及价格资料管理
        对客户投诉、客户服务进行全面记录，提高客户满意度

        仓库管理更高效    作为仓库主管，您有没有遇到这样的情况

        无法随时了解库存情况
        各种出入库、调拨业务繁琐低效
        没有很好的库存预警机制，无法及时补货、调整库存
        月底仓库盘点工作量非常大

        仓库主管 – 查询统计、调拨盘点、出入管理更高效
        支持六种常规出入库业务和产品组装、库存盘点、损耗业务
        出入库操作简便迅捷，业务流程完善、规范，紧密结合
        提供多角度的详细数据统计分析报表

        采购管理更高效    作为采购主管，您有没有遇到这样的情况

        购买、收货、退货、付款这么多类型的采购业务如何处理
        供应商如何管理和资源平衡
        采购价格如何追溯和控制
        采购订单跟踪到收货付款操作繁琐

        采购主管 – 厂商管理、价格控制、订单跟踪更高效
        采购流程全面跟踪，支持多种采购业务
        供应商分级分类管理，供应商联系人详细记录，采购信息追溯
        灵活设置采购价格，完善的采购价格资料管理
        提供多角度的采购分析报表

        个人办公更高效  作为企业员工，您有没有遇到这样的情况

        办公事务工作繁琐、重复劳动和检索不便
        使用纸质文件造成大量时间、纸张、耗材的浪费，效率低下
        工作日程安排混乱，忘办、漏办事项
        任务分配不明确，缺少协作和帮助

        企业员工 – 在线办公、日程安排、工作计划更高效
        个性化办工桌面，所有信息一目了然
        网络磁盘随时存储各类办公文件，安全稳定，永不丢失
        日程安排简单快捷，可通过日、周、月、年来查看各项日程
        订制工作计划，划分不同任务、不同人员相互协同办公

        工作交流更高效  作为企业员工，您有没有遇到这样的情况

        员工之间无法有效交流沟通
        没有空间让员工讨论工作相关的问题
        无法获取员工的意见，一些建议缺乏依据造成领导决策困难

        部门主管 – 短信邮件、论坛投票、工作交流更高效
        随时发送短信给公司同事进行交流
        可发送邮件给公司内部人员，也可发送给外部人员
        设置不同的板块进行相关讨论
        可设置单选和多选投票，也可进行匿名投票

        信息发布更高效    作为信息主管，您有没有遇到这样的情况

        信息发布不畅通，造成高沟通成本，低响应速度
        发布一个信息需要至各个负责人处层层审批，费时费力
        员工查看不便，获取信息不及时

        信息主管 – 新闻公告、信息审批、通知发布更高效
        随时发布各类公司新闻、公告
        可设置重要级，针对不同部门、不同人员发布信息
        信息发布随时提醒，确保相应人员及时获取信息
        动态生成信息审批流程，保留审批历史，节省大量环节消耗时间

        人事管理更高效    作为人事主管，您有没有遇到这样的情况

        人员信息统计不全，检索不便
        部门组织结构不明确，岗位职务划分混乱
        请假、加班、外出、出差不规范，审批繁琐
        人事文档、员工照片等资源不能有效共享，容易丢失

        人事主管 – 人员信息、组织结构、资源共享更高效
        完善的人员信息统计，可按条件进行相关检索
        树状显示部门组织结构、岗位组织结构，清晰明了，便于划分
        请假、加班、外出、出差动态审批，保留历史痕迹
        知识、表格、规章、照片资源完善保存，随时共享

        后勤管理更高效    作为后勤主管，您有没有遇到这样的情况

        会议室使用记录统计不全，会议无法有效管理和安排
        车辆使用管理不规范，使用历史统计不全
        办公用品随意领用，出借归还记录统计不全
        公司图书没有整理归类，员工难以查看图书信息

        后勤主管 – 会议安排、车辆借用、办公用品更高效
        随时了解会议室使用情况，召开会议并短信通知相应参会人
        对车辆使用情况进行完善的记录整理，随时了解车辆使用信息
        轻松记录用品领用、出借、归还所有记录，保证办公用品正常使用
        对图书进行有效分类整理，让员工知道公司图书以及可借情况公
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>