
@{
    ViewBag.Title = "计算机培训";
}

<h2>计算机培训</h2>
<table bordercolor="#4170CF" cellspacing="0" cellpadding="0" width="93%" align="center" border="1" bordercolordark="#FFFFFF" bordercolorlight="#4170CF" height="110">
    <tbody>
        <tr>
            <td width="9%"><div align="center"><strong>类 别</strong></div></td>
            <td width="14%"><div align="center"><strong>科 目</strong></div></td>
            <td width="61%"><div align="center"><strong>培训内容</strong></div></td>
            <td width="8%"><div align="center"><strong>学时</strong></div></td>
            <td width="8%"><div align="center"><strong>学费</strong></div></td>
        </tr>
        <tr>
            <td><div align="center">办公类</div></td>
            <td><div align="center">办公专家</div></td>
            <td>1.计算机基础 2.指法、五笔字型输入法 3.Windows2003/XP操作系统的应用、文件与文件夹、资源管理器的使用、系统维护设置、多媒体播放等 4.Word基本操作、文字编辑与段落格式设置、图文混排、表格的使用及打印等 5. Excel电子表格的应用、工作表的编辑、数据分析与处理、图表应用、数据运算等 6.Powerpoint演示文稿、创建模板及使用、演示文稿的编辑、添加多媒体效果等 7.Internet使用、网络的基本操作、免费邮箱及收发电子邮件、软件下载等</td>
            <td><div align="center">38学时</div></td>
            <td><div align="center">500元</div></td>
        </tr>
        <tr>
            <td rowspan="4"><div align="center">设计类</div></td>
            <td><div align="center">平面设计软件</div></td>
            <td>
                1.Photoshop图像编辑软件、 2.Illustrator矢量绘图软件、 3.PageMaker排版设计软件、 4.Freehand矢量图软件、 5.Acrobat电子文件编辑 6.CorelDraw图形绘制软件 7.Indesing软件
                <p></p>
            </td>
            <td><div align="center">56学时</div></td>
            <td><div align="center">850元</div></td>
        </tr>
        <tr>
            <td><div align="center">网页设计软件</div></td>
            <td>1.Flash 动画制作 2.Dream weaver 网站的创建、网页的编辑等 3.Fireworks网页的美化与技巧的制作</td>
            <td><div align="center">40学时</div></td>
            <td><div align="center">700元</div></td>
        </tr>
        <tr>
            <td><div align="center">建筑设计师班</div></td>
            <td>1.Photoshop图像处理软件（600元） 2. 3DMAX建模、材质、灯光等（900元） 3. AutoCAD建筑制图（800元）4. Lightscape渲染巨匠（600元）</td>
            <td><div align="center">104学时</div></td>
            <td><div align="center">1800元</div></td>
        </tr>
        <tr>
            <td><div align="center">Flash高级编程班</div></td>
            <td>Flash 基础，常用函数和程序结构控制，AS2.0面各对象编程技术，常用内置解，UI组件及应用，视频和多媒体组件编程，数据库组件与数据库连接屏幕应用程序开发，Flash与HTML、CSS、XML交互，图形绘制，Flash游戏设计开发，Flash多媒体课件制作，Flash网站开发及留言本制作等</td>
            <td><div align="center">36学时</div></td>
            <td><div align="center">1600元</div></td>
        </tr>
        <tr>
            <td rowspan="3"><div align="center">精品设计全科类</div></td>
            <td><div align="center">平面精品全科实战班</div></td>
            <td>
                1.Photoshop基础知识与工具、选区、路径、图层及蒙版的应用、色彩模式、通道、滤镜的使用等 2.Illustrator矢量图的讲解、企业标志形象设计、封面、名片、宣传页、广告等 3.PageMaker排版设计软件 4.Freehand 绘图软件的讲解 5.Acrobat电子文件编辑软件 6.CorelDraw图形绘制软件 7.Indesing软件<br>
                平面设计实战：广告设计、招贴设计、包装设计、书籍设计、印刷工艺等实战技巧
            </td>
            <td><div align="center">101学时</div></td>
            <td><div align="center">2000元</div></td>
        </tr>
        <tr>
            <td><div align="center">网页精品全科实战班</div></td>
            <td>
                1.Photoshop图象处理软件 2.Flash动画制作软件 3.Fireworks图象处理软件 4.Dreamweaver网页排版软件<br>
                网站后台开发：HTML语言、CSS样式表、Vbscript脚本语言、ASP网页编程<br>
                数据库管理：Access数据库
            </td>
            <td><div align="center">106学时</div></td>
            <td><div align="center">2400元</div></td>
        </tr>
        <tr>
            <td><div align="center">装饰装潢精品全科实战班</div></td>
            <td>1.Photoshop图形、图像的编辑及后期处理等 2. 3D基础与3D实战：系统的讲解工具的使用、室内空间的设计、室内家具、陈设等、结合室内外设计实例的讲解 3. AutoCAD建筑设计制图：系统工具的使用、透视原理、室内二维与三维图的绘制与讲解 4.Lightscape渲染巨匠 5.综合实战技巧</td>
            <td><div align="center">110学时</div></td>
            <td><div align="center">2200元</div></td>
        </tr>
        <tr>
            <td rowspan="6"><div align="center">网络类单科</div></td>
            <td><div align="center">计算机组装维护</div></td>
            <td>计算机硬件的组装、设置；CMOS设置、硬盘的分区、格式化；Win2003安装；硬件驱动程序和应用程序的安装等</td>
            <td><div align="center">30学时</div></td>
            <td><div align="center">500元</div></td>
        </tr>
        <tr>
            <td><div align="center">Win2003系统管理</div></td>
            <td>磁盘文件系统的格式化及磁盘管理、备份与还原；终端服务器的安装；TCP/IP协议的组成和功能；ICS及NAT的配置；代理服务器的使用；配置远程访问服务器等</td>
            <td><div align="center">15学时</div></td>
            <td>
                <div align="center">
                    1500元<br>
                </div>
            </td>
        </tr>
        <tr>
            <td><div align="center">Win2003网络管理</div></td>
            <td>DHCP服务器的安装及配置；FTP服务器及配置；组策略的设置及管理；AD数据库组成和作用；AD的备份及标准还原等</td>
            <td><div align="center">24学时</div></td>
            <td><div align="center">2400元</div></td>
        </tr>
        <tr>
            <td><div align="center">CCNA培训</div></td>
            <td>初步安装、配置和操作Cisco路由器、交换机及简单的LAN和WAN；Cisco设备操作；局域网的基础实现；广域网的构建；学习城域网的构建等</td>
            <td> <div align="center">15 学时 </div></td>
            <td><div align="center">1500元</div></td>
        </tr>
        <tr>
            <td><div align="center">CCNP培训</div></td>
            <td>高级的IP路由理论及扩展的IP地址的应用；配置OSPF，EIGRP，IS-IS，BGP路由协议及优化的路由更新；各类高级的交换技术的应用；Cisco的远程交换类硬件产品，包括小型的ISDN路由器及高级的访问服务器；建立网络基准线和实现有效的排错策略等</td>
            <td><div align="center">50学时</div></td>
            <td><div align="center">6800元</div></td>
        </tr>
        <tr>
            <td><div align="center">LINUX培训</div></td>
            <td>于bash shell 指令行执行Linux命令；使用网络应用和公用程序；安全地通讯和转移文件；用户的系统工具；执行基本bash shell的scripting、sed、wak和perl；安装Red Hat Linux及其他等</td>
            <td><div align="center">30学时</div></td>
            <td><div align="center">3000元</div></td>
        </tr>
        <tr>
            <td rowspan="2"><div align="center">语言类</div></td>
            <td><div align="center">ASP网页后台程序设计</div></td>
            <td>HTML语言，Vbscript脚本语言，ASP内部对象及内置组件，Access数据库基础，Web与数据库连接，计数器，留言板，论坛等常见后台程序设计</td>
            <td><div align="center">50学时</div></td>
            <td><div align="center">1500元</div></td>
        </tr>
        <tr>
            <td><div align="center">JSP语言开发</div></td>
            <td>JDBC;Java，Web编程：JSP、Servlet、JavaBean、Java应用编程；JSP动态网络编程J2EE编写数据库服务系统和网络编程接口。精通最新的网页设计技巧，胜任网站后台程序上开发；</td>
            <td><div align="center">30学时</div></td>
            <td><div align="center">1500元</div></td>
        </tr>
    </tbody>
</table>

