@{
    ViewBag.Title = "产品简介";
}

<p style="margin: 10px 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"><strong style="margin: 0px; padding: 0px;">一、普通经济型网站</strong>　　　　</p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;"><img width="112" height="148" alt="" src="/Images/Product/Web/1.jpg" /> <br style="margin: 0px; padding: 0px;" /><strong style="margin: 0px; padding: 0px;">优惠价：1880元</strong></td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合中、小型企业建立低成本的小型宣传网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">设计合理、内容简洁，整个版面让人耳目一新</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、留言板管理系统、联系我们管理系统</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更，一年不超过12次）</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">7--10个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间500M，网站数据库备份</td>
        </tr>
    </tbody>
</table>
<p><strong style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"><br style="margin: 0px; padding: 0px;" />二、企业标准型网站</strong><span style="color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">&nbsp;　　　　</span></p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;">
                <p><img width="112" height="148" alt="" src="/Images/Product/Web/2.jpg" /></p>
                <p><strong style="margin: 0px; padding: 0px;">优惠价：3880元</strong></p>
            </td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合中、小型企业建立企业行业标准网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">设计精美、大气，首页动画展示，结合行业动态，体现网站在行业的形象，带有数据库，可自动生成无数个内页。</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、留言板管理系统、信息管理系统、联系我们管理系统、流量统计分析系统、查询系统&hellip;</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更）</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">15--20个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间1000M；企业邮箱50M，网站数据库备份</td>
        </tr>
    </tbody>
</table>
<p><strong style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"><br style="margin: 0px; padding: 0px;" />三、企业形象型网站</strong><span style="color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">&nbsp;　　　　</span></p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;"><img width="112" height="148" alt="" src="/Images/Product/Web/3.jpg" /> <br style="margin: 0px; padding: 0px;" /><strong style="margin: 0px; padding: 0px;">优惠价：5800元</strong></td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合大、中、小型企业建立企业形象宣传网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">突出企业在行业的地位，展现企业的整体形象。整体形象设计包括导航栏设计、标准字、Logo、标准色彩、 首页设计包括版面、色彩、图像、动态效果、图标等风格设计</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、留言板管理系统、信息管理系统、联系我们管理系统、流量统计分析系统、上传下载系统、人才招聘系统&hellip;</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更）节日可提供节日动画效果</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">20--25个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间1000M；企业邮箱50M，网站数据库备份</td>
        </tr>
    </tbody>
</table>
<p><strong style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"><br style="margin: 0px; padding: 0px;" />四、品牌形象型网站</strong><span style="color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"></span></p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;"><img width="112" height="148" alt="" src="/Images/Product/Web/4.jpg" /> <br style="margin: 0px; padding: 0px;" /><strong style="margin: 0px; padding: 0px;">优惠价：8800元</strong></td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合大、中、小型企业建立企业品牌形象宣传网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">整体形象设计包括导航栏设计、标准字、Logo、标准色彩、 首页设计包括版面、色彩、图像、动态效果、图标等风格设计，也包括banner、菜单、标题、版权等模块设计。</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、留言板管理系统、信息管理系统、联系我们管理系统、流量统计分析系统、上传下载系统、人才招聘系统&hellip;</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更）节日可提供节日动画效果</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">20--25个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间1000M；企业邮箱50M，网站数据库备份</td>
        </tr>
    </tbody>
</table>
<p><strong style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;"><br style="margin: 0px; padding: 0px;" />五、商城购物型网站</strong><span style="color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">　　　　</span></p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;"><img width="112" height="148" alt="" src="/Images/Product/Web/5.jpg" /> <br style="margin: 0px; padding: 0px;" /><strong style="margin: 0px; padding: 0px;">优惠价：6680元</strong></td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合大、中、小型企业建立电子商务宣传网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">模块布局宗旨在于方便全球访问者浏览，页面布局力求风格统一、内容丰富，清晰明了，网站程序代码整齐，提高浏览速度。给人以较为直观的感受，以及更为感性的认识&hellip;</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、在线订购系统、订单系统、积分管理系统、留言板管理系统、信息管理系统、联系我们管理系统、流量统计分析系统、上传下载系统&hellip;</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更，一年不超过12次）节日可提供节日动画效果</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">20--25个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间1000M；企业邮箱50M，网站数据库备份</td>
        </tr>
    </tbody>
</table>
<p><br style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;" /><strong style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">六、自定义型网站</strong><span style="color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">　　　</span></p>
<table id="table2" height="183" cellspacing="1" cellpadding="2" width="96%" align="center" bgcolor="#cccccc" border="0" style="margin: 0px; padding: 0px; color: #5c5c5c; font-family: Verdana, Arial, 宋体; font-size: 12px; line-height: 21.6000003814697px;">
    <tbody style="margin: 0px; padding: 0px;">
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td class="al-01" align="middle" width="24%" rowspan="7" style="margin: 2px 0px 0px; padding: 0px; font-size: 12px; color: #f1070a; font-family: Verdana, Arial, 宋体; font-weight: bold;"><img width="112" height="148" alt="" src="/Images/Product/Web/6.jpg" /> <br style="margin: 0px; padding: 0px;" /><strong style="margin: 0px; padding: 0px;">价格自定义</strong></td>
            <td align="middle" width="15%" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">适用客户</td>
            <td width="61%" height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">适合大、中、小型企业自定义宣传网站</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">设计理念</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">根据企业要求量身定做，整体形象设计包括导航栏设计、标准字、Logo、标准色彩、 首页设计包括版面、色彩、图像、动态效果、图标等风格设计，也包括banner、菜单、标题、版权等模块设计&hellip;</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站功能</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">
                <div align="left" style="margin: 0px; padding: 0px;">公司介绍管理系统、产品展示管理系统、留言板管理系统、信息管理系统、联系我们管理系统、流量统计分析系统、上传下载系统、人才招聘系统&hellip;</div>
            </td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站维护</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">终生免费维护（包括内容的删减及更新，不包括结构变更）节日可提供节日动画效果</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">工作周期</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">15--30个工作日</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">网站推广</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">免费在国内外搜索引擎上注册，推广您的网站。免费提供网站源代码优化服务</td>
        </tr>
        <tr bgcolor="#ffffff" style="margin: 0px; padding: 0px;">
            <td align="middle" style="margin: 0px; padding: 0px; font-size: 12px; color: #5c5c5c;">增值服务</td>
            <td height="25" style="margin: 0px; padding: 0px 5px; font-size: 12px; color: #5c5c5c;">第一年免费赠送国际域名/国内域名一个，服务器空间1000M，企业邮箱50M，网站数据库备份</td>
        </tr>
    </tbody>
</table>




