@model IEnumerable<ItWebSite.Core.DbModel.CsdnBlogComment>

@{
    int layer = 1;
}
<hr/>
<div id="blog-comments-placeholder">
    <div>评论列表</div>

    @foreach (var item in Model)
    {
        <div>
            <div>
                <span> #@layer 楼</span>  <span>@item.CreateDate</span> <span>作者：<a href="#">@item.Creater</a></span>
            </div>
            <div>
                @Html.Raw(item.Content)
            </div>
        </div>
        {
            layer++;
        }
    }
</div>
