body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.CompanyIntroBody {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}

    .CompanyIntroBody h1 {
        line-height: 1;
        color: inherit;
    }

    .CompanyIntroBody p {
        white-space: pre-wrap;
        margin-bottom: 20px;
        font-size: 16.099999999999998px;
        font-weight: 200;
        line-height: 1.4;
    }

.AboutBody {
    white-space: pre-wrap;
    margin-bottom: 20px;
    font-size: 16.099999999999998px;
    font-weight: 200;
    line-height: 1.4;
}

.Message {
    color: red;
}



/* PRODUCTS IN GRID - TEMPLATE */
.product-grid{margin-bottom:15px;margin-left:auto;margin-right:auto;width:auto;text-align:center;zoom:1;}
.product-grid:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.product-grid .item-box{float:left;padding:5px;text-align:center;vertical-align:text-top;}
.product-grid .item-box:hover{background:#F9F9F9;}
.product-grid .product-item{text-align:left;margin:0;padding:0;width:155px;height:270px;}
.product-grid .product-item .product-title{font-weight:normal;font-size:12px;padding:0;}
.product-grid .product-item .product-title a{display:block;height:auto;line-height:1.3em;overflow:hidden;padding:4px 10px 8px 0;}
.product-grid .product-item .details{}
.product-grid .product-item .product-rating-box{}
.product-grid .product-item .picture{background:none repeat scroll 0 0 #FFFFFF;text-align:center;border:1px solid #F0F0F0;height:140px;overflow:hidden;}
.product-grid .product-item .picture img{margin:5px;}
.product-grid .product-item .description{display:none;margin:5px 5px 0 5px;text-align:center;padding:10px 5px;border-top:solid 1px #e3e3e3;color:#555;height:50px;}
.product-grid .product-item .add-info{vertical-align:bottom;text-align:right;width:auto;height:auto;position:relative;}
.product-grid .product-item .prices{text-align:left;vertical-align:middle;position:static;bottom:15px;right:10px;}
.product-grid .product-item .prices .price{margin:0px;display:block;}
.product-grid .product-item .prices .actual-price{color:#B80709;}
.product-grid .product-item .prices .old-price{color:#5C5B5B;text-decoration:line-through;}
.product-grid .product-item .prices .tax-shipping-info{font-size:11px;}
.product-grid .product-item .prices .tax-shipping-info a{text-decoration:underline;}
.product-grid .product-item .buttons{vertical-align:middle;position:static;margin-top:5px;text-align:left;}
.product-box-add-to-cart-button{padding:3px 7px;cursor:pointer;background:#7DB72F;background:-webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E));background:-moz-linear-gradient(top,#7DB72F,#4E7D0E);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F',endColorstr='#4E7D0E');color:#fff;text-shadow:none;border-color:#999;border:0 none;font-weight:700;}
.product-box-add-to-cart-button:hover{color:#fff;}
