@model ItWebSite.Web.Areas.Admin.Models.ProductViewModel
@{
    ViewBag.Title = "编辑";
}
<h2>编辑产品</h2>
@using(Html.BeginForm("Edit", "Products", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.Partial("_CreateOrUpdate", Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="编辑" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("返回列表", "Index")
</div>
